{% extends "base.html" %}
{% block title %}Huffman Decompression{% endblock %}
{% block body %}
<h1 style="text-align:center">Huffman Decompression</h1>
<h4 style="text-align:center">Upload a file to decompress it.</h4>

<!--<form action="/huffman" method="post" enctype="multipart/form-data" >-->
<!--    <div class="form-group">-->
<!--        <label>Select a file</label>-->
<!--        <div class="custom-file">-->
<!--            <input type="file" class="custom-file-input" name="file" id="file">-->
<!--            <label class="custom-file-label" for="file">Select a file</label>-->
<!--        </div>-->
<!--    </div>-->
<!--    <button type="submit" class="btn btn-primary">Compress!</button>-->
<!--</form>-->

<form action="/huffman/decompress" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">File to decompress</label>
        <input type="file" class="form-control-file" id="file" name="file">
    </div>
    <div>
    <input type="text" name="extension" id="extension" placeholder="Extension (Default is .orig)">
    </div>
    <button type="submit" class="btn btn-primary">Decompress!</button>
</form>

{% if error == "NoFileError" %}
<p style="color:red">Please select a file and try again.</p>
{% elif error == "NotADjertyFile" %}
<p style="color:red">Please upload a .djerty file.</p>
{% endif %}
{% endblock %}
