{% extends "base.html" %}
{% block title %}About Tower of Hanoi{% endblock %}
{% block body %}
<h1 style="text-align:center">The Tower of Hanoi Problem</h1>
<p style="text-align:center">The Tower of Hanoi is a mathematical puzzle which features 3 towers, which we will call A, B, and C for the purposes of this explanation. Prior to starting the puzzle, there will be a certain amount of disks on A, with each disk having a unique size. The greatest disk will be at the bottom, the second largest will be on top of the largest, and so on... The objective is to move all the disks from A to C, in the same arrangement that they were orginally in when they were at A. But there's a catch: at any point in your process, you cannot have a small disk under a larger one. To see an example of solving this puzzle, go to our hanoi solver and try it with the 3 disk option.</p>
{% endblock %}
